body{
    background-color: whitesmoke;
}

nav {
    height: auto;
    /* padding: 35px; */
    margin: 0px;
}
.nav li{
    display: inline;
    float: right;
    padding: 60px;
    padding-top: 0px;
    justify-content: center;
   
}
.about {
    display: flex;
    align-items:center;
  
   
}
.projects {

}
.portfolio {
    border-radius: 10px;
     width: 300px; 
    margin-left: 150px;
    margin-top: 50px;
    text-align: center;
    display: inline;
    float: left;
    text-align: center;
    justify-content: space-around;
}
