body{
    background-color: #282d32;
    color: aliceblue;
    margin: 0px;
}

nav {
    height: auto;
    /* padding: 35px; */
    margin: 0px;
}
.nav li{
    display: inline;
    float: right;
    padding: 60px;
    padding-top: 0px;
    justify-content: center;
    cursor: pointer;
   
}
.about {
   
  
   
}

.portfolio {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; 
     width: 20%; 
     padding: 2px 16px;
    margin-left: 50px;
    /* margin-top: 150px; */
    margin-bottom: 30px;
    text-align: center;
    display: inline;
    float: left;
    text-align: center;
    justify-content: space-around;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    color:white;
    background-color: black;
}

button {
    border-radius: 12px;
    display: inline;
    cursor: pointer;
    padding: 16px;
    color:white; 
    background-color: white;
    width: 100%;
    text-align: center;
}

 .hobbies img {
    height: 30%;
    width: 25%;
} 
.like {
    background-color:gray;
    text-align: center;
}
.hobbies {
     width: 40%;
     /* margin: 0px;
    padding: 0px; */
    display: inline-block;  
}
.work-experience {
    float: left;
    box-shadow: 18px 18px 10px grey;
    background-color: white;
    color: black;
    height: 450px;
    width: 850px;
    margin: 20px 20px 20px 20px;
    box-sizing: border-box;
  }
  
  .work-img {
    float: left;
    height: auto; 
    width: 60px;
    margin: 25px 30px 100% 30px;
    box-sizing: border-box;
  }
  
  .work-box{
    float: left;
    border: solid;
    border-width: 0px 0px 5px 0px;
    box-sizing: border-box;
    margin: 0px 10px 0px 0px;
    padding: 12px 12px 12px 12px;
    width: 320px;
    height: auto;
  }
  
  .work-box:hover {
    background-color: gray;
  }
  
  .work-title {
    font-weight: bold;
    line-height: 1.8;
    box-sizing: border-box;
  }
  
  .work-date{
    color: #b30000;
    line-height: 1.5;
    box-sizing: border-box;
  }
  
  
  .work-description{
    line-height: 1.5;
    box-sizing: border-box;
  }
  
  .education {
    float: right;
    box-shadow: 18px 18px 10px grey; 
    background-color: white;
    color: #000;
    box-sizing: border-box;
    height: 450px;
    width: 850px;
    margin: 20px 20px 20px 20px;
  }
  /* .why-img {
    float: left;
    height: auto; 
    width: 50%;
    margin: 12px 12px 150% 12px; */
    /* box-sizing: border-box;   */
  
  /* .why-text {
      text-align: right;
  } */ 

.why {
    display: inline;
}
.why-text {
    float: right;
    margin-top: 100px;
    margin-right: 50px;
    /* margin-right: 100px; */
    margin-left: 200px;
    
}
.why img {
    margin-left: 600px;
}
.skills {
   margin: 30px; 
   
}
.skills img {
    height:80px ;
    width: 70px;
} 
.footer {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
}
.footer .social {
    text-align:center;
}
.footer .copy {
    text-align:center;
    padding-top:14px; 
}

.container {
    /* align-items: center; */
    margin-bottom:0;
    text-align:right; 
    width: 100%;
    
    /* float:right; */  
    /* display: inline-block; */
    /* float: right; */
    /* background-color: #f1f1f1; */
    
  }
  
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 16px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
  }
    
  input[type=submit] {
    background-color: blue;
    /* color: white; */
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.4;
  }

  